#root {
  width: 100%;
  min-height: 100dvh;
  height: 100dvh;
  margin: 0;
  padding: 0rem;
  display: flex;
  flex-direction: column;
}

.tiptap p.is-editor-empty:first-child::before {
  color: var(--muted-foreground);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror {
font-family: "Inter", system-ui, sans-serif;
  font-variant-numeric: lining-nums tabular-nums;
  letter-spacing: -0.011em;
}

.ProseMirror em {
  font-style: italic;
}

.ProseMirror strong {
  font-weight: bold;
}

.ProseMirror u {
  text-decoration: underline;
}