#root {
  width: 100%;
  min-height: 100dvh;
  height: 100dvh;
  margin: 0;
  padding: 0rem;
  display: flex;
  flex-direction: column;
}

.tiptap p.is-editor-empty:first-child::before {
  color: var(--muted-foreground);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror div {
  display: inline;
}

.ProseMirror {
  font-variant-numeric: lining-nums tabular-nums;
  letter-spacing: -0.011em;
}

.ProseMirror em {
  font-style: italic;
}

.ProseMirror strong {
  font-weight: bold;
}

.ProseMirror u {
  text-decoration: underline;
}

/* Para Firefox */
.tiptap.ProseMirror {
  scrollbar-width: 0;
  scrollbar-color: hsl(var(--muted-foreground) / 0.1) transparent;
}

/* Para Chrome, Safari y Edge */
.tiptap.ProseMirror::-webkit-scrollbar {
  width: 0;
}

.tiptap.ProseMirror::-webkit-scrollbar-track {
  background: transparent;
}

/* AQUÍ ESTABAN LOS DOS PUNTOS QUE TE PEDÍA */
.tiptap.ProseMirror::-webkit-scrollbar-thumb {
  background-color: hsl(var(--muted-foreground) / 0.1);
  border-radius: 9999px;
}

.tiptap.ProseMirror::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--muted-foreground) / 0.1);
}

